* {
  
  font-size: 1.175rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  line-height: 1.6;
}

*,
*::before, *::after{
  box-sizing: border-box;
  
}

.container {
  display: grid;  
  min-height: 200rem;

  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1.2fr 1fr 1fr 1fr .1fr;
  grid-template-areas: 
  "nav nav nav nav"
  "main main main main"
  "content1 content1 content1 content1"
  "content2 content2 content2 content2"
  "content3 content3 content3 content3"
  "footer footer footer footer"
  ;
  /* grid-gap: 0.2rem; */

}

body{
  display: block;
  
  
}

nav{
  
  grid-area: nav;
  display: flex;
  
    
}

main{

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  grid-area: main;
  
}

.main_content{
  border: 2px solid white;
  outline: 2px solid white;
  padding: 2rem;
  letter-spacing: .3rem;
  background-color: rgba(0, 1, 0, 0.5);
}

.main-body{
  display: flex;
  justify-content: center;
  
}

main, nav, #header,.header_nav_links {
  background-image: url(cafe-img-bkg.jpg);
  background-color: rgba(0, 0, 1, 0.796);
  background-size: cover;  
  background-repeat: no-repeat;
  background-blend-mode: darken; 

}

h1{
  font-size: 4.5rem;
}

p{
  text-transform: uppercase;
}

footer{
  background-color: springgreen;
  grid-area: footer;
}

a{
  color: white;
}

.header_nav_links, li, a{
  font-size:  15px;
  font-weight: normal;
  
}



#sidebar{
  background-color: #1a1a1a;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
     
}

#content1{
  
  background-color: rgba(0, 0, 1, 0.5);
  background-image: url(espresso-machine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  background-blend-mode: darken;
  
  display: flex;
  
  grid-area: content1;  
  
  align-items: center;
  justify-content: space-around;  
  /* transform-style: preserve-3d; */
  
}

.card1{ 
  min-width: 400px;
  /* transform-style: preserve-3d; */
}

.card1:hover .card1__content{
  transform: rotateY(.5turn);
}

.card1__content{
  text-align: center;
  position: relative;
  padding: 150px;
  padding-top: 400px;
  transition: transform 2s;
  transform-style: preserve-3d;
  

}

.card1__front,
.card1__back{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  /* border-color: rgb(21, 129, 48); */
  border-width: 1.5px;
  border-style: solid;
  border-radius: 5%;
  filter: drop-shadow(5px 5px 5px);
  
  
}

.card1__front{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #1a1a1a;
  color: rgb(233, 243, 232);
  letter-spacing: 4px;
}


.card1__title{
  font-size: 3rem;
  transform-style: preserve-3d;
  /* transform: translateZ(1rem); */
  text-transform: uppercase;
  
}

.card1__img{
  /* transform: translateZ(2rem); */
  border: 1px;
  border-radius: 5%;
  margin-top: .5em;
  margin-bottom: .5em;
  filter: drop-shadow(.5px 5px 5px); 
  
}

.card1__subtitle{
  /* transform: translateZ(1rem); */
  font-size: .75rem;
  margin-top: 5px;
  
}

.card1__body{
  /* transform: translateZ(3rem); */
  text-transform: uppercase;
}

.card1__back{
  transform: rotateY(.5turn);
  background-color: #1a1a1a;
  color: white;
}



#content2{
  grid-area: content2;
  background-color: rgba(0, 0, 1, 0.5);  
}

.content2__container{
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  
}

.content2__body1{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 500px;
  border: 2px solid black;
  border-radius: 40%;
}

.content2__header{
  font-size: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  align-self: center;
}

.content2__text{
  font-size: 1rem;
  font-weight: normal;
  padding: 2rem;
  text-align: center;
}


.content2__body2{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 500px;
  border: 2px solid black;
  
}
.content2__body3{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 500px;
  border: 2px solid black;

}




#content3{
  background-color: rgb(46, 189, 108);
  grid-area: content3;
}

/* Border For Logo Yes or NO? */

.logo{
  /* display: flex;   */
  block-size: 5rem; 
  
  padding-top: .5rem;

}

/*  Change font size/lables/position & add hover animation. Added padding bottom need to remove */

.header_nav_links{
  display: flex;
  justify-content: end;
  flex-grow: 1;  
  
  gap: 2em;
  padding-top: 2em;
  padding-bottom: .5em;
  padding-right: 5em;
  
  
  

}

/* Added drop shaddow to icons but needs tweaking/Maybe leave for hover effect */

.ig_link_image{     
  width: 3rem; 
  display: flex;  
  padding-left: 1em;
  margin-left: 1rem;
  filter: drop-shadow(5px 5px 10px );
  color: rgba(176, 216, 178, 0.681);
}

a:hover{
color: rgba(7, 243, 19, 0.894);

}

