* {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}


.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: .3fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1.5fr 1.2fr 0.2fr;
  grid-template-areas: 
  "sidebar nav nav nav"
  "sidebar main main main"
  "sidebar content1 content1 content1"
  "sidebar footer footer footer";
  /* grid-gap: 0.2rem; */

}

nav{
  background-color: #1a1a1a;
  grid-area: nav;
  display: flex;
    
}

main{
  background-color: rgba(0, 0, 1, 0.633);
  color: white;
  background-image: url(cafe-img-bkg.jpg);
  background-size: cover;
  background-blend-mode: darken;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  grid-area: main;
  
}

h1{
  font-size: 4.5rem;
}

footer{
  background-color: springgreen;
  grid-area: footer;
}

a{
  color: white;
}

.header_nav_links, li, a{
  font-size:  15px;
  font-weight: normal;
  
}



#sidebar{
  background-color: #1a1a1a;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
    
}

#content1{
  background-color: yellow;
  grid-area: content1;
}

#content2{
  background-color: rgb(231, 60, 108);
  /* grid-area: content2; */
}

#content3{
  background-color: rgb(46, 189, 108);
  /* grid-area: content3; */
}

/* Border For Logo Yes or NO? */

.logo{
  /* display: flex;   */
  block-size: 4.88em;
  
  /* border-color: white; */
  /* border-style: outset;   */
  /* border-radius: 10%; */
}

/* Need to incorporate header nav links into main bkg img. Change font size/lables/position & add hover animation. Added padding bottom need to remove */

.header_nav_links{
  display: flex;
  justify-content: end;
  flex-grow: 1;  
  background-color: #1a1a1a;
  gap: 2em;
  padding-top: 1em;
  padding-bottom: .5em;
  padding-right: 5em;
  
  

}

/* Added drop shaddow to icons but needs tweaking/Maybe leave for hover effect */

.ig_link_image{     
  width: 50px; 
  display: flex;  
  padding-left: 1em;
  margin-left: 1rem;
  filter: drop-shadow(5px 5px 10px );
  color: rgba(176, 216, 178, 0.681);
}

a:hover{
color: black;

}

#content1{
  background-size: 100%;
  background-image: url(Coffee-type-example.PNG);
  background-repeat: no-repeat;
  
}